
/*RESET CSS*/
@import url(./reset.css);

*{
    --primary: #5fa078;
    --secondary:#53b2b2;
    --dark:#0e2b61;
    --light:#dcf0f7;
}
body{
    background-color: var(--secondary);
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width:1080px;
    background-color: var(--light);
    font-family: "Oswald",sans-serif;
    margin: 0 auto;
}

header{
    padding:2rem;
    
}

h1,
h2,
h3{
    text-transform: uppercase;
    font-weight: 700;
}

h1{
    font-size:2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}

.menu{
    display: flex;
    gap:0.25rem;
    margin-top:1rem;
}

.btn, .menu__item{
    background-color: var(--secondary);
    color:var(--light);
    padding:0.5rem 1rem;
    text-transform: uppercase;
}

.btn:hover, .menu__item:hover{
    background-color: var(--primary);
    color:var(--light);
    padding:0.5rem 1rem;
}

/* Main*/
.main{
    flex-grow: 1;
    padding: 2rem;
}

.headline{
    display: flex;
    flex-direction: row;
    gap:2rem;
    flex-wrap: wrap;
    margin:2rem 0;
    background-color: var(--primary);
    border-radius: 15px;
}

.headline__img, 
.headline__content{
flex-grow: 1;
flex-basis: 300px;
}
.headline__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 0px 0px 15px
}

.headline__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap:1rem;
    padding: 2rem;
}

.headline__title, 
.headline__desc {
    color:var(--light)
}

.headline__title{
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}
/*END Main*/

/*Projects*/
.project {
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}
.project__item{
    flex-grow: 1;
    flex-basis: 200px;
}

.project__item h3 {
    margin-top: 0.5rem;
    text-align:center;
}

.project__item img{
    border-radius: 3% ;
}
/*END Projects*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding: 2rem;
    color:var(--light);
    background-color: var(--primary)
}
/*FOR MAX WIDTH 800PX*/
@media (max-width:800px){
    
    header, nav .menu{
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: stretch;
        gap: 2rem;
        text-align: center;
    }

    .headline__content{
        flex-basis: 20%;
    }

    .headline {
        border-radius: 1rem;
    }
    .headline__img img{
        border-radius: 1rem 1rem 0 0;
    }

    .project__item{
        flex-grow: 1;
        flex-basis: 40%;
    }
    .menu__item{
        text-align: center;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }
}

/*FOR MAX WIDTH 500PX*/
@media (max-width:500px){
    header, nav .menu{
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: stretch;
        gap: 1rem;
        text-align: center;
    }
    
    .headline {
        border-radius: 1rem;
    }
    .headline__img img{
        border-radius: 1rem 1rem 0 0;
    }
    .menu__item {
        text-align: center;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }
    .project{
        flex-direction: column;
    }
    .project__item{
        flex-grow: 1;
        width: 100%;
    }

}

